/* src/pages/AdminPages.css */
.admin-container {
  display: flex;
  min-height: 100vh;
}

.admin-content {
  flex: 1;
  margin-left: 250px;
  transition: margin-left 0.3s;
  background-color: #f8f9fa;
}

/* Cuando colapsa, ajusta el margen */
.sidebar.collapsed ~ .admin-content {
  margin-left: 60px;
}

/* En móvil quita el margen extra */
@media (max-width: 768px) {
  .admin-content {
    margin-left: 60px; /* coincide con el ancho collapsed en móvil */
  }
}
